<body>
    <app-navbar></app-navbar>
    <div class="title-container px-4 py-5">
        <h2 style="text-align: center;">User friends requests</h2>
        <div class="divider"></div>
    </div>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let request of requestsList; let i = index;">
                <td style="display: flex; justify-content: space-between; align-items: center;">
                    <span>{{emails[i]}}</span>
                    <div>
                        <button class="btn btn-accept btn-sm" (click)="acceptFriendRequest(request.friendId,request.userId)">
                            <i class="fa fa-check-circle fa-lg" style="margin-right: 5px;"></i>Accept request
                        </button>
                        <button style="margin-left: 15px;" class="btn btn-deny btn-sm" (click)="denyFriendRequest(request.friendId,request.userId)">
                            <i class="bi bi-x-circle-fill fa-lg" style="margin-right: 5px;"></i>Deny request
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>