head
  meta(charset='utf-8')
  title Title2
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

  body
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4#myModalLabel.modal-title
              | Login Form
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='/users/login')
              div.form-group
                label(for='name') Username:
                input#name.form-control(type='text', placeholder='myUsername' name='name')
              div.form-group
                label(for='email') Password:
                input#password.form-control(type='password', placeholder='*********' name='password')
              button.btn.btn-primary(type="submit", name="loginBtn") Login
          // Modal Footer
          .modal-footer(style='text-align: center;')
            if message
                p(style='color: red;') #{message}
            a(href='/', class='btn') Go back home