.modal-title {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-footer .btn-done {
  color: white;
  background-color: rgb(100, 185, 100);
  text-align: center;
}

.modal-footer .btn-done:hover {
  background-color: rgb(87, 155, 87);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
}

.basic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-upload-field {
  background-color: transparent;
  padding: 30px 0px 0px 0px;
  cursor: pointer;
}