<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friendships options</title>
  <link rel="stylesheet" href="friendshipsMenu.component.css">
</head>

<body>
  <app-navbar></app-navbar>
  <div class="title-container px-4 py-5">
    <h2 style="text-align: center;">Friendships management</h2>
    <div class="divider"></div>
    <label class="py-4" style="font-size: 23px;">What do you want to do?</label>
  </div>
  
  <div class="container" style="margin: auto;">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="container">
            <ul style="display: flex;">
              <li><a href="../friendsRequests">Friends requests</a></li>
              <li><a href="../sendRequests">Send requests</a></li>
              <li><a href="../friendships">My friendships</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
