<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Notes Web</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-DmYZfUNRkHxxAZV1jBDQcWn24nGcbzKXmLJ/YYoSXA2wBJS5khGZ6tu8wIwB40K7"
      crossorigin="anonymous">
  </head>
  <body class="vh-100">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="jumbotron text-center">
          <h1 class="display-4">Welcome to Notes App!</h1>
          <hr class="my-4">
          <p class="lead">Web Systems Development</p>
          <hr class="my-4">
          <p>Please, to access first log in or sing up if you don't have an account.</p>
          <a class="custom-btn primary" href="/user/login" role="button">Log in</a>
          <a class="custom-btn success" href="/user/signup" role="button">Sign up</a>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+JwJlUuqvuUO8QaWdh6XwGU6IQK4j7x"
      crossorigin="anonymous">
    </script>
    <script 
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous">
    </script>
    <script 
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-6U/u72P0oTJwZOy1QTKbRgDYLO+TnGiMvqwftu/zsB3V7vgRU+YbTPf7EaHJlP0n"
      crossorigin="anonymous">
    </script>
  </body>
</html>