<!-- Note creation -->
<div class="container px-4 py-5">
    <h2 style="text-align: center;">Create a new note</h2>
    <div class="divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="main-container">
                        <div #notesMain class="note-main"
                            [ngStyle]="{ 'background-color': note.bgColor, 'color': getColourContrast(note.bgColor) }">
                            <div #noteContainer class="custom-note">
                                <b>
                                    <div class="note-name">New note</div>
                                </b>
                                <div class="form-group">
                                    <i>
                                        <b>
                                            <div class="note-label" style="font-size: 18px;">Title:</div>
                                        </b>
                                    </i>
                                    <div #noteTitle class="note-title">
                                        <textarea spellcheck="false" placeholder="Enter the title" [(ngModel)]="note.title"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <i>
                                        <b>
                                            <div class="note-label" style="font-size: 18px;">Content:</div>
                                        </b>
                                    </i>
                                    <div #noteContent class="note-content">
                                        <textarea spellcheck="false" placeholder="Enter the content" [(ngModel)]="note.content"></textarea>
                                    </div>
                                </div>
                            </div>                            

                            <div class="icons-container">
                                <div class="icons">
                                    <div name="bgColor" class="image bi bi-palette-fill" [(colorPicker)]="note.bgColor"
                                        (colorPickerChange)="changeColour($event)"
                                        [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'"
                                        [cpPresetColors]="color_list" [cpSaveClickOutside]="true" [cpDisableInput]="true"
                                        [cpPosition]="'right'">
                                    </div>
                                    <div class="image bi bi-image" (click)="openModalImage(note, true)"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                    <span class="bi bi-plus-circle-fill fa-lg" type="button" (click)="saveNote()"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5">
    <h2 style="text-align: center;">All my notes</h2>
    <div class="divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="notes-container" *ngFor="let note of note_list">
                        <div #notesMain class="note-main"
                            [ngStyle]="{ 'background-color': note.bgColor, 'color': getColourContrast(note.bgColor) }">
                            <div #noteContainer class="note-container">
                                <b>
                                    <div class="note-name" style="font-size: 20px;">{{getUserNameById(note?.user['$oid'])}}
                                    </div>
                                    
                                </b>
                                <div class="form-group">
                                    <div class="note-name" style="font-size: 15px;">{{formatDate(note.created_at)}}
                                    </div>
                                    <i>
                                        <b>
                                            <div class="note-label" style="font-size: 18px;">Title:</div>
                                        </b>
                                    </i>
                                    <div #noteTitle class="note-title" contenteditable="false" spellcheck="false" style="margin-left: 15px;">
                                        {{note.title}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <i>
                                        <b>
                                            <div class="note-label" style="font-size: 18px;">Content:</div>
                                        </b>
                                    </i>
                                    <div #noteContent class="note-content" contenteditable="false" spellcheck="false" style="margin-left: 15px;">
                                        {{note.content}}
                                    </div>
                                </div>
                            </div>
                            <div class="icons-container">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div dropdown>
                                            <span style="margin-left: 455px; margin-bottom: 5px;" dropdownToggle type="button" class="bi bi-gear-fill"
                                                    id="dropdownMenuSettings" data-bs-toggle="dropdown"
                                                    aria-expanded="false"></span>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuSettings" style="width: 200px;"
                                                [ngStyle]="{ 'background-color': note.bgColor }">

                                                <li>
                                                    <a class="dropdown-item edit"
                                                        [ngStyle]="{ 'color': getColourContrast(note.bgColor), 'background-color': hovered_item === 'edit' ? getColourContrast(getColourContrast(note.bgColor)) : 'transparent' }"
                                                        (mouseenter)="hovered_item = 'edit'"
                                                        (mouseleave)="hovered_item = ''" type="button" (click)="editNote(note)">
                                                        <div class="dropdown-item-text"
                                                            [ngStyle]="{ 'color': getColourContrast(note.bgColor) }">
                                                            <i class="bi bi-pencil-fill"></i>
                                                            <span>Edit</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item delete"
                                                        [ngStyle]="{ 'color': getColourContrast(note.bgColor), 'background-color': hovered_item === 'delete' ? getColourContrast(getColourContrast(note.bgColor)) : 'transparent' }"
                                                        (mouseenter)="hovered_item = 'delete'"
                                                        (mouseleave)="hovered_item = ''" type="button" (click)="deleteNote(note)">
                                                        <div class="dropdown-item-text"
                                                            [ngStyle]="{ 'color': getColourContrast(note.bgColor) }">
                                                            <i class="bi bi-trash-fill"></i>
                                                            <span>Delete</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item share"
                                                        [ngStyle]="{ 'color': getColourContrast(note.bgColor), 'background-color': hovered_item === 'share' ? getColourContrast(getColourContrast(note.bgColor)) : 'transparent' }"
                                                        (mouseenter)="hovered_item = 'share'"
                                                        (mouseleave)="hovered_item = ''" type="button" (click)="goToFriendships(note)">
                                                        <div class="dropdown-item-text"
                                                            [ngStyle]="{ 'color': getColourContrast(note.bgColor) }">
                                                            <i class="bi bi-share-fill"></i>
                                                            <span>Share</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
